<div class="d-flex justify-content-between align-items-center">
  <p-breadcrumb class="max-w-full flex-grow-1" [model]="items" [home]="home"></p-breadcrumb>
  <button pButton (click)="showDialog()" label="Add User" icon="pi pi-plus" class="ml-2 p-button-sm p-button-primary"></button>
</div>
<!-- Dialog -->
<div class="card flex justify-center">
  <p-dialog  [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
      <div class="flex items-center gap-4 mb-4">
          <p-floatlabel variant="on">
          <input pInputText id="on_label" autocomplete="off" />
          <label for="on_label">User Name</label>
      </p-floatlabel>
      </div>
      <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex justify-end gap-2">
          <p-button label="Cancel" severity="secondary" (click)="visible = false" />
          <p-button label="Save" (click)="visible = false" />
      </div>
  </p-dialog>
</div>
<div class="card mt-2" >
  <!-- <p-button (click)="showDialog()" label="Show" /> -->
    <p-table
        [value]="Users"
        stripedRows
        [tableStyle]="{ 'min-width': '40rem' }">
        <ng-template #header>
            <tr>
              <th>User ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Created At</th>
              <th>Created By</th>
              <th>Action</th>
            </tr>
          </ng-template>
          
          <ng-template #body let-user>
            <tr>
              <td>{{ user.userId }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
              <td>{{ user.createdBy }}</td>
            </tr>
          </ng-template>
    </p-table>
</div>